USE [master]
GO
/****** Object:  Database [Planet35]    Script Date: 18.05.2026 0:33:50 ******/
CREATE DATABASE [Planet35]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Planet35', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Planet35.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Planet35_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Planet35_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Planet35].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Planet35]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetCategories]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetCategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[Color] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inventory_number] [nvarchar](50) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[category_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[responsible_id] [int] NULL,
	[purchase_date] [date] NULL,
	[cost] [decimal](18, 2) NULL,
	[status] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[image_path] [nvarchar](300) NULL,
	[Notes] [nvarchar](max) NULL,
	[IsChecked] [bit] NOT NULL,
	[qr_token] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeLog]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[asset_id] [int] NULL,
	[operation] [nvarchar](50) NOT NULL,
	[change_time] [datetime] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[location] [nvarchar](150) NULL,
	[Color] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[conducted_by] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[date_conducted] [datetime] NULL,
	[comment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryChecks]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryChecks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[check_date] [datetime] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[notes] [nvarchar](1000) NULL,
	[checked_by_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryItems]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryItems](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inventory_id] [int] NOT NULL,
	[asset_id] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcurementItems]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcurementItems](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[InStock] [bit] NOT NULL,
	[Supplier] [nvarchar](max) NOT NULL,
	[Unit] [nvarchar](max) NOT NULL,
	[ImagePathToShow] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ProcurementItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[report_type] [nvarchar](100) NOT NULL,
	[file_path] [nvarchar](255) NOT NULL,
	[generated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.05.2026 0:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](150) NULL,
	[department_id] [int] NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260502100013_Initial', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260508102111_AddDepartmentColor', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[AssetCategories] ON 

INSERT [dbo].[AssetCategories] ([id], [name], [description], [Color]) VALUES (1, N'Компьютеры', N'Настольные и портативные ПК', N'#366B2B')
INSERT [dbo].[AssetCategories] ([id], [name], [description], [Color]) VALUES (2, N'Офисная мебель', N'Столы, стулья, шкафы', N'#103A57')
INSERT [dbo].[AssetCategories] ([id], [name], [description], [Color]) VALUES (3, N'Инструменты', N'Отвертки, молотки и.тд', N'#307BBE')
SET IDENTITY_INSERT [dbo].[AssetCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Assets] ON 

INSERT [dbo].[Assets] ([id], [inventory_number], [name], [category_id], [department_id], [responsible_id], [purchase_date], [cost], [status], [description], [image_path], [Notes], [IsChecked], [qr_token]) VALUES (1, N'INV-001', N'Ноутбук Lenovo', 1, 1, 2, CAST(N'2023-01-10' AS Date), CAST(55000.00 AS Decimal(18, 2)), N'Отсутствует', N'Машина админа', N'C:\CourseProject\CourseProject\CourseProgect_Planeta35\CourseProgect_Planeta35\Resources\1 фото.png', N'Все плохо', 1, N'6c0eb8bc-50e8-4183-9c78-69b8c6ebc014')
INSERT [dbo].[Assets] ([id], [inventory_number], [name], [category_id], [department_id], [responsible_id], [purchase_date], [cost], [status], [description], [image_path], [Notes], [IsChecked], [qr_token]) VALUES (2, N'INV-002', N'Стол офисный', 2, 2, 1, CAST(N'2022-11-05' AS Date), CAST(12000.00 AS Decimal(18, 2)), N'Списано', N'Стол директора', N'C:\CourseProject\CourseProject\CourseProgect_Planeta35\CourseProgect_Planeta35\Resources\2 фото.png', N'Все в порядке
', 1, N'2db46f1b-0a73-4085-a235-c47202d458f2')
INSERT [dbo].[Assets] ([id], [inventory_number], [name], [category_id], [department_id], [responsible_id], [purchase_date], [cost], [status], [description], [image_path], [Notes], [IsChecked], [qr_token]) VALUES (5, N'INV-123', N'Компьютер HP', 1, 2, 2, CAST(N'2023-12-12' AS Date), CAST(42000.00 AS Decimal(18, 2)), N'На обслуживании', N'Машина менеджера', N'C:\CourseProject\CourseProject\CourseProgect_Planeta35\CourseProgect_Planeta35\Resources\1 фото.png', N'Надо лучше', 1, N'bedca947-14b5-482b-a9c1-fbeb2e5ec33a')
SET IDENTITY_INSERT [dbo].[Assets] OFF
GO
SET IDENTITY_INSERT [dbo].[ChangeLog] ON 

INSERT [dbo].[ChangeLog] ([id], [user_id], [asset_id], [operation], [change_time], [old_value], [new_value], [comment]) VALUES (1, 1, 1, N'Создание', CAST(N'2025-11-22T20:22:22.937' AS DateTime), NULL, N'Ноутбук Lenovo', N'Добавлен в базу')
INSERT [dbo].[ChangeLog] ([id], [user_id], [asset_id], [operation], [change_time], [old_value], [new_value], [comment]) VALUES (2, 2, 2, N'Создание', CAST(N'2025-11-22T20:22:22.937' AS DateTime), NULL, N'Стол офисный', N'Добавлен в базу')
SET IDENTITY_INSERT [dbo].[ChangeLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([id], [name], [location], [Color]) VALUES (1, N'IT отдел', N'Москва, 1-й проезд', N'#8B9B4C')
INSERT [dbo].[Departments] ([id], [name], [location], [Color]) VALUES (2, N'Бухгалтерия', N'Москва, 2-й проезд', N'#5C8DFF')
INSERT [dbo].[Departments] ([id], [name], [location], [Color]) VALUES (3, N'Склад', N'Москва, 3-й проезд', N'#D96CFF')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([id], [conducted_by], [department_id], [date_conducted], [comment]) VALUES (1, 1, 1, CAST(N'2025-11-22T20:22:22.487' AS DateTime), N'Проверка IT отдела')
INSERT [dbo].[Inventory] ([id], [conducted_by], [department_id], [date_conducted], [comment]) VALUES (2, 2, 2, CAST(N'2025-11-22T20:22:22.487' AS DateTime), N'Проверка бухгалтерии')
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryChecks] ON 

INSERT [dbo].[InventoryChecks] ([id], [item_id], [check_date], [status], [notes], [checked_by_id]) VALUES (4, 1, CAST(N'2025-11-25T21:00:13.260' AS DateTime), N'present', N'Все в порядке', 1)
INSERT [dbo].[InventoryChecks] ([id], [item_id], [check_date], [status], [notes], [checked_by_id]) VALUES (5, 2, CAST(N'2025-11-25T21:00:13.260' AS DateTime), N'absent', N'Не обнаружен на месте', 2)
SET IDENTITY_INSERT [dbo].[InventoryChecks] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryItems] ON 

INSERT [dbo].[InventoryItems] ([id], [inventory_id], [asset_id], [status], [note]) VALUES (1, 1, 1, N'В эксплуатации', N'Все в порядке')
INSERT [dbo].[InventoryItems] ([id], [inventory_id], [asset_id], [status], [note]) VALUES (2, 2, 2, N'В эксплуатации', N'Стол без повреждений')
SET IDENTITY_INSERT [dbo].[InventoryItems] OFF
GO
INSERT [dbo].[ProcurementItems] ([Id], [Name], [Description], [Category], [Price], [InStock], [Supplier], [Unit], [ImagePathToShow]) VALUES (N'1', N'Ноутбук Lenovo', N'Рабочий ноутбук для офиса', N'Техника', CAST(75000.00 AS Decimal(18, 2)), 1, N'DNS', N'шт', N'/Images/laptop.png')
INSERT [dbo].[ProcurementItems] ([Id], [Name], [Description], [Category], [Price], [InStock], [Supplier], [Unit], [ImagePathToShow]) VALUES (N'10', N'Флешка 64GB', N'USB накопитель', N'Аксессуары', CAST(900.00 AS Decimal(18, 2)), 1, N'DNS', N'шт', N'/Images/usb.png')
INSERT [dbo].[ProcurementItems] ([Id], [Name], [Description], [Category], [Price], [InStock], [Supplier], [Unit], [ImagePathToShow]) VALUES (N'2', N'Мышь Logitech', N'Беспроводная мышь', N'Аксессуары', CAST(1500.00 AS Decimal(18, 2)), 1, N'Ozon', N'шт', N'/Images/mouse.png')
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([id], [user_id], [report_type], [file_path], [generated_at]) VALUES (1, 1, N'Отчет IT', N'C:\Reports\IT_Report.pdf', CAST(N'2025-11-22T20:22:22.943' AS DateTime))
INSERT [dbo].[Reports] ([id], [user_id], [report_type], [file_path], [generated_at]) VALUES (2, 2, N'Отчет Бухгалтерия', N'C:\Reports\Finance_Report.pdf', CAST(N'2025-11-22T20:22:22.943' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id], [name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([id], [name]) VALUES (2, N'Сотрудник')
INSERT [dbo].[Roles] ([id], [name]) VALUES (3, N'Гость')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password_hash], [full_name], [department_id], [role_id]) VALUES (1, N'admin@example.com', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', N'Админ Сидоров', 3, 1)
INSERT [dbo].[Users] ([id], [username], [password_hash], [full_name], [department_id], [role_id]) VALUES (2, N'Lizunov1111@example.com', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', N'Григорий Лизунов', 1, 2)
INSERT [dbo].[Users] ([id], [username], [password_hash], [full_name], [department_id], [role_id]) VALUES (3, N'aaaa@example.com', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', N'Антон Цырульник', 1, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Assets__070F296C116F0FA8]    Script Date: 18.05.2026 0:33:50 ******/
ALTER TABLE [dbo].[Assets] ADD UNIQUE NONCLUSTERED 
(
	[inventory_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC572A1DCC5DC]    Script Date: 18.05.2026 0:33:50 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT ('В эксплуатации') FOR [status]
GO
ALTER TABLE [dbo].[Assets] ADD  CONSTRAINT [DF_Assets_IsChecked]  DEFAULT ((0)) FOR [IsChecked]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT (newid()) FOR [qr_token]
GO
ALTER TABLE [dbo].[ChangeLog] ADD  DEFAULT (getdate()) FOR [change_time]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (N'') FOR [Color]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT (getdate()) FOR [date_conducted]
GO
ALTER TABLE [dbo].[InventoryChecks] ADD  DEFAULT (getdate()) FOR [check_date]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [generated_at]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK__Assets__category__30F848ED] FOREIGN KEY([category_id])
REFERENCES [dbo].[AssetCategories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK__Assets__category__30F848ED]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD FOREIGN KEY([responsible_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[AssetCategories] ([id])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Category]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_Department]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_Assets_User] FOREIGN KEY([responsible_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_Assets_User]
GO
ALTER TABLE [dbo].[ChangeLog]  WITH CHECK ADD FOREIGN KEY([asset_id])
REFERENCES [dbo].[Assets] ([id])
GO
ALTER TABLE [dbo].[ChangeLog]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([conducted_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[InventoryChecks]  WITH CHECK ADD  CONSTRAINT [FK_InventoryChecks_Item] FOREIGN KEY([item_id])
REFERENCES [dbo].[InventoryItems] ([id])
GO
ALTER TABLE [dbo].[InventoryChecks] CHECK CONSTRAINT [FK_InventoryChecks_Item]
GO
ALTER TABLE [dbo].[InventoryChecks]  WITH CHECK ADD  CONSTRAINT [FK_InventoryChecks_Users_CheckedBy] FOREIGN KEY([checked_by_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[InventoryChecks] CHECK CONSTRAINT [FK_InventoryChecks_Users_CheckedBy]
GO
ALTER TABLE [dbo].[InventoryItems]  WITH CHECK ADD FOREIGN KEY([asset_id])
REFERENCES [dbo].[Assets] ([id])
GO
ALTER TABLE [dbo].[InventoryItems]  WITH CHECK ADD FOREIGN KEY([inventory_id])
REFERENCES [dbo].[Inventory] ([id])
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Department]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
USE [master]
GO
